body {
    background-color: lightblue;
}

main {
    height: 100vh;
}

.container {
    height: calc(100% - 9rem);
}

.grid {
	aspect-ratio: 1 / 1;
	height: 70vh;
	background-color: salmon;
	border: 3px solid white;
    gap: 0;
}

.cell {
    font-size: .8em;
    font-weight: bold;
	width: 10%;
	height: 10%;
	border: 1px solid white;
	cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked {
	background-color: aqua;
}

footer {
    background-color: white;
    height: 4rem;
}