main {
    height: 100vh;
    background-color: black;
}

.navbar {
    height: 4rem;
}

.navbar img {
    height: 3rem;
}

.navbar a {
    vertical-align: -3px;
}

.container {
    height: calc(100% - 7rem);
}

.grid {
    box-sizing: content-box;
    background-color: grey;
}

.grid_easy {
    width: 600px;
    border: 1px solid white;
}

.grid_medium {
    width: 540px;
    border: 1px solid white;
}

.grid_hard {
    width: 420px;
    border: 1px solid white;
}


.cell {
    font-size: .8em;
    font-weight: bold;
	width: 60px;
	height: 60px;
	border: 1px solid black;
	cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked {
	background-color: brown;
}

footer {
    background-color: white;
    height: 3rem;
}